* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: #4d4959;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1.7rem;
    color: #4d4959;
    text-align: center;
    padding-top: 30px;
}

p {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: #4d4959;
    line-height: 3rem;
    padding: 10px 0 20px 0;
}

ul {
    padding: 10px 0 0 0;

    li {
        list-style: none;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 1.5rem;
        color: #4d4959;
        line-height: 3rem;

        a {
            font-family: 'Lato', sans-serif;
            font-size: 1.5rem;
            color: #4d4959;
            line-height: 3rem;
            text-decoration: none;
        }
    }
}
