.category-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.category {
    width: 100%;
}

@media(min-width: 1100px) {
    .category-container {
        align-items: flex-start;
        flex-direction: row;
    }

    .category {
        width: 20%;
    }
}
